<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supwisdom.mappers.CityMapper">

  <resultMap type="com.supwisdom.model.City" id="City">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="state" property="state"/>
  </resultMap>

  <select id="findByState" resultMap="City">
    SELECT *
    FROM CITY
    WHERE state = #{state}
  </select>

</mapper>
